*,
::before,
::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body {
	background-color: #210002;
	height: 5000px;
	margin: 0;
}

.parallax {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.layer {
	background-size: cover;
	background-position: center;
	height: 100%; width: 100%;
	position: fixed;
}

.layer1 { background-image: url('../img/parallax0.png') }
.layer2 { background-image: url('../img/parallax1.png') }
.layer3 { background-image: url('../img/parallax2.png') }
.layer4 { background-image: url('../img/parallax3.png') }
.layer5 { background-image: url('../img/parallax4.png') }
.layer6 { background-image: url('../img/parallax5.png') }
.layer7 { background-image: url('../img/parallax6.png') }
.layer8 { background-image: url('../img/parallax7.png') }
.layer9 { background-image: url('../img/parallax8.png') }

section {
	background-color: #210002;
	height: 5000px;
	position: relative;
	z-index: 100;
}